*{
    margin: 0;
    padding: 0;
    font-family: 'lato','verdana', sans-serif;
    transition-property: filter;
    transition-duration: 1s;
}

a{
    text-decoration: none;
    text-decoration-color: none;
    color: white;
}

body{
    height: 100vh;
    min-height: 100%;
    width: 100%;
    background-color: white;
    background-image: url('https://www.freepik.com/free-vector/black-wavy-shapes-background_12628437.htm#page=6&query=monochrome%20background&position=0&from_view=search');
    background-size: cover;
}


.get-info-bar{
    position:fixed;
    display: flex;
    flex-direction: column;
    top: 28vh;
    left: -300000px;
    background-color: black;
    border-left: #FC9D05 2px solid;
    border-bottom: #FC9D05 2px solid;
    border-top: white 1px solid;
    border-right: white 1px solid;
    height: 45vh;
    width: 35vw;
    z-index: 3;
    border-radius: 10px;
    /* margin-left: -10000px; */
    transition-property: left;
    transition-duration: 1s;
    padding: 5px;
    box-shadow: 2.5px -2.5px 3px grey;
    opacity: 0.9;
}

.get-info-bar > button{
    width: fit-content;
    height: fit-content;
    align-self: flex-end;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid white;
    background-color: #FC9D05;
    font-weight: bold;
    color: white;
    padding: 5px;
}

.get-info-bar > div {
    width: 60%;
    align-self: center;
}

form{
    display: flex;
    flex-direction: column;
    top: 30px;
    color: white;
    left: 30px;
    
}

form > input {
    background-color: #3B3B3B;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    font-weight: 500;
    font-size: 1em;
    height: 2em;
}

form > label {
    line-height: 2em;
    font-weight: bold;
}

#submit{
    background-color: #FC9D05;
    font-weight: bold;
    border: 1px solid white;
}


.perma-logo{
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    height: 10vh;
    min-height: 40px;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: black;
    z-index: 2;
    border-bottom: 2px solid #FC9D05;
    opacity: .9;
}

.perma-logo > a{
    letter-spacing: 1.5px;
    font-size: calc(12px + 1.2em);
    font-weight: 500;
    padding: 10px;

}


.contact-us{
    border: none;
    height: fit-content;
    background-color: black;
    color: white;
    font-size: .8em;
    font-weight:bolder;
    border-radius: 5px;
    padding: 5px;
    letter-spacing: 1px;
    transition-property: background-color,color,letter-spacing,border,padding;
    transition-duration: 0.5s;
    border: 1px white solid;
}

.contact-us:hover{
    background-color: #FC9D05;
    border: 2px solid #3B3B3B;
    color: black;
    cursor: pointer;
    letter-spacing: 2.5px;
    padding: 6px;
}

main{
    display: flex;
    position: relative;
    margin-top: 10vh;
    height: 50vh;
    width: 100%;
    background-color: white;
    background-image: url('https://www.freepik.com/free-vector/striped-pattern-background-simple-design-black-white-vector_19597412.htm#page=6&query=monochrome%20background&position=18&from_view=search');
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 2px solid white;
    z-index: 1;
    justify-content: space-evenly;
    border-radius: 0 0 5px 5px;
    opacity: 0.95;
}


.main-pic > img{
    position: absolute;
    height: 30vh;
    width: inherit;
    clip: shape;
}





#tagline{
    display: flex;
    flex-direction: column;
    height: 60%;
    align-items: center;
    margin-left: 5vw;
    margin: 1vw;
    font-size: calc(16px + .5vw);
    padding: 1vw;
    color: black;
    margin-top: 10vh;
}

#tagline > h1,p,h3{
    width: inherit;
    text-align: left;
}

#tagline > h4{
    width: inherit;
    text-align: left;
    font-family: 'catamaran','verdana',sans-serif;
    font-style: oblique;
}

#loan-about-us{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 95vw;
    height: fit-content;
    margin: 0 auto 0 auto;
    background-color: white;
    border-top: 10px #FC9D05 solid;
    z-index: 1;
    border-radius: 25px;
    opacity: 0.95;
    border-left: 1px solid #FC9D05;
    border-right: 1px solid #FC9D05;
}

#loan-about-us > h1{
    text-align: center;
    font-family: 'catamaran','verdana', sans-serif;
    font-weight: 800;
    font-style: oblique;
    color: black;
    
}

.buttons{
    display: flex;
    width: inherit;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.button-style{
    height: calc(50px + 4vw);
    width: calc(65px + 8vw);
    margin: 15px auto;
    background-color:   transparent;
    border: 4px solid black;
    border-radius: 8px;
    transition: all 0.1s ease-in-out;
    color: black;
    font-weight: bold;
    z-index: 1;
}

.button-style> i{
    font-size: calc(16px + 2.5vw);
    padding: 5px;
    transition-property: font-size,padding;
    transition-duration: 1s;
}

.button-style > p{
    text-align: center;
    font-size: calc(12px + 0.4vw);
    padding: 5px;
    width: fit-content;
    margin: 0 auto 0 auto;
    transition: all 0.1s ease-in-out;
}
.about-us{
    width: inherit;
    background-color: #FC9D05;
    height: inherit;

    /* border-radius: 10px 10px 0 0; */
}

.how-it-works{
    height: calc(600px);
    width: 95%;
    background-color: #FC9D05;
    margin: 0 2.5% 0 2.5%;
    color: black;
}

#works-content{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding:10px;
    height: fit-content;
}

#works-content > h4{
    width: 100%;
    text-align: center;
    line-height: 4vh;
    font-size: calc(16px + 0.5vw);
    font-weight: 400;
}

#works-content > div{
    width: fit-content;
    height: fit-content;
    line-height: 2.5vh;
    margin: 10px;
}

#works-content > div > h3{
    text-decoration: underline;
}

#works-content > div:nth-child(3){
    align-self: flex-end;
}

footer{
    position: fixed;
    top : 90vh;
    height: 20vh;
    width: 100%;
    background-color: black;
    z-index: 2;
    padding: 10px;
    color: white;
}

#bank-info{
    display:flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
    position: fixed;
    top: 5vh;
    left: -10000px;
    height: 80vh;
    width: 100vw;
    background-color: white;
    z-index: 2;
    color: white;
    transition-property: left,justify-content,align-content;
    transition-duration: 1s;
    opacity: 0.89;
}

#bank-info > div{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FC9D05;
    border: 3px solid black;
    justify-content: space-between;
    padding: 5px;
    width: 25vw;
    height: fit-content;
    border-radius: 20px;
    color: black;
    opacity: 1;
}

#bank-info > div  > h3 , p{
    text-align: center;
    font-size: calc(16px + .3vw);
}

#bank-info > div > div{
    height: 100px;
    width: fit-content;
    align-self: center;
}

.bank-image{
    clip:shape;
    height: 100px;
    width: 10vw;
    border-radius: 20px;
}

.card-close{
    font-weight: bold;
    font-size: 1em;
    background-color: black;
    color: white;
    width: 20px;
    height: fit-content;
    border-radius: 5px;
}

@media all and (max-width: 600px){
    main {
        background-size: cover;
        background-repeat: no-repeat;
    }

    #tagline{
        width: 70%;
    }

    #works-content > div:nth-child(3){
        border-top: 2px white solid;
    }

    .buttons{
        width: fit-content;
    }

    .get-info-bar{
        top:10vh;
        height: 100vh;
        width: 100%;
        opacity: 1;
        border:none;
        border-radius: 0;
    }

    .get-info-bar > div {
        width: 80%;
        height: inherit;
    }

    .get-info-bar > button {
        margin-right: 10vw;
    }

    form{
        height: 100vh;
    }

    #bank-info{
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-between;
        height: 80vh;
        width: 100%;
        top: 10vh;
        overflow-x: 'hidden';
        overflow-y: scroll;
    }

    #bank-info > div{
        margin: 15px;
        width: 90vw;
    }


    .bank-image{
        clip:shape;
        height: 100px;
        width: 30vw;
    }

    
}



