*{
    margin: 0;
    padding: 0;
    font-family: 'lato','verdana', sans-serif;
}

a{
    text-decoration: none;
}

body{
    height: 100vh;
    min-height: 100%;
    width: 100%;
    background-color: #FAF5F8;
}


.navbar{
    position:fixed;
    left: 0;
    background-color: black;
    height: 100vh;
    width: 50%;
    z-index: 2;
    margin-left: -50%;
}

.perma-logo{
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    height: fit-content;
    min-height: 40px;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: black;
    z-index: 2;
    border-bottom: 1px solid #CC99CC;
}

.perma-logo > h1{
    letter-spacing: 1.5px;
    font-size: calc(12px + 1.2em);
    font-weight: 500;
    padding: 10px;
}

.contact-us{
    border: none;
    height: fit-content;
    background-color: black;
    color: white;
    font-size: .8em;
    font-weight:bolder;
    border-radius: 5px;
    padding: 5px;
    letter-spacing: 1px;
    transition-property: background-color,color,letter-spacing,border;
    transition-duration: 0.5s;
}

.contact-us:hover{
    background-color: #660066;
    border: 2px solid #CC99CC;
    color: white;
    cursor: pointer;
    letter-spacing: 2.5px;
}

main{
    position: absolute;
    top: 5vh;
    height: 50vh;
    width: 100%;
    background-color: #2F2536;
    background-image: url('https://images.pexels.com/photos/91227/pexels-photo-91227.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-position: center;
    background-size: cover;
    border-bottom: 4px solid white;
    z-index: 1;
}



#tagline{
    display: flex;
    flex-direction: column;
    height: 60%;
    align-items: center;
    margin-left: 5vw;
    width: 50%;
    margin: 1vw;
    font-size: calc(16px + .5vw);
    padding: 1vw;
    color: white;
    margin-top: 10vh;
}

#tagline > h1,p,h3{
    width: inherit;
    text-align: left;
}

#tagline > h4{
    width: inherit;
    text-align: left;
    font-family: 'catamaran','verdana',sans-serif;
    font-style: oblique;
}

#loan-about-us{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60vh;
    width: 90vw;
    height: 100vh;
    margin: 0 5vw 0 5vw;
    background-color: transparent;
}

#loan-about-us > h1{
    text-align: center;
    font-family: 'catamaran','verdana', sans-serif;
    font-weight: 800;
    font-style: oblique;
    border-radius: 5px;
}

.buttons{
    width: inherit;
    display: flex;
    justify-content: space-around;
}

.button-style{
    height: calc(50px + 8vw);
    width: calc(50px + 8vw);
    margin: 15px auto;
    background-color: transparent;
    border: 4px solid black;
    border-radius: 15px;
    transition-property: height, background-color, width, border;
    transition-duration: 0.5s;
    box-shadow: 1.5px -1.5px 4px #666666;
}

.about-us{
    width: inherit;
    background-color: #BDBDFF;
    height: inherit;
    border-radius: 5px 5px 0 0;
}

.how-it-works{
    
}
@media all and (max-width: 600px){
    main {
        background-position-x: 1px;
        background-size:cover;
    }

    #tagline{
        width: 70%;
    }
}


