*{
    margin: 0;
    padding: 0;
    font-family: 'lato','verdana', sans-serif;
}

a{
    text-decoration: none;
    text-decoration-color: none;
    color: white;
}

body{
    height: 100vh;
    min-height: 100%;
    width: 100%;
    background-color: black;
    background-image: url('https://www.freepik.com/free-vector/black-wavy-shapes-background_12628437.htm#page=6&query=monochrome%20background&position=0&from_view=search');
    background-size: cover;
}


.navbar{
    position:fixed;
    left: 0;
    background-color: black;
    height: 100vh;
    width: 50%;
    z-index: 2;
    margin-left: -50%;
}

.perma-logo{
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    height: 10vh;
    min-height: 40px;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: black;
    z-index: 2;
    border-bottom: 2px solid #FC9D05;
}

.perma-logo > a{
    letter-spacing: 1.5px;
    font-size: calc(12px + 1.2em);
    font-weight: 500;
    padding: 10px;

}


.contact-us{
    border: none;
    height: fit-content;
    background-color: black;
    color: white;
    font-size: .8em;
    font-weight:bolder;
    border-radius: 5px;
    padding: 5px;
    letter-spacing: 1px;
    transition-property: background-color,color,letter-spacing,border,padding;
    transition-duration: 0.5s;
}

.contact-us:hover{
    background-color: #FC9D05;
    border: 2px solid #3B3B3B;
    color: black;
    cursor: pointer;
    letter-spacing: 2.5px;
    padding: 6px;
}

main{
    position: absolute;
    top: 10vh;
    height: 50vh;
    width: 100%;
    background-color: white;
    background-image: url('https://www.freepik.com/free-vector/striped-pattern-background-simple-design-black-white-vector_19597412.htm#page=6&query=monochrome%20background&position=18&from_view=search');
    /* background-position: center; */
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 2px solid black;
    z-index: 1;
}



#tagline{
    display: flex;
    flex-direction: column;
    height: 60%;
    align-items: center;
    margin-left: 5vw;
    width: 50%;
    margin: 1vw;
    font-size: calc(16px + .5vw);
    padding: 1vw;
    color: black;
    margin-top: 10vh;
}

#tagline > h1,p,h3{
    width: inherit;
    text-align: left;
}

#tagline > h4{
    width: inherit;
    text-align: left;
    font-family: 'catamaran','verdana',sans-serif;
    font-style: oblique;
}

#loan-about-us{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60.5vh;
    width: 95vw;
    height: 50vh;
    margin: 0 2.5vw 0 2.5vw;
    background-color: transparent;
}

#loan-about-us > h1{
    text-align: center;
    font-family: 'catamaran','verdana', sans-serif;
    font-weight: 800;
    font-style: oblique;
    border-radius: 5px;
    color: white;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.button-style{
    height: calc(50px + 4vw);
    width: calc(55px + 8vw);
    margin: 15px auto;
    background-color:   transparent;
    border: 4px solid white;
    border-radius: 8px;
    transition-property: height, background-color, width, border;
    transition-duration: 0.5s;
    color: white;
    font-weight: bold;
}

.button-style> i{
    font-size: calc(16px + 2.5vw);
    padding: 5px;
}

.button-style > p{
    text-align: center;
    font-size: calc(12px );
    padding: 5px;
    width: fit-content;
    margin: 0 auto 0 auto;
}
.about-us{
    width: inherit;
    background-color: #c46a1c;
    height: inherit;
    border-radius: 10px 10px 0 0;
}

.how-it-works{
    height: inherit;
    width: 95%;
    background-color: #3B3B3B;
    margin: 0 2.5% 0 2.5%;

}
@media all and (max-width: 600px){
    main {
        background-size: cover;
        background-repeat: no-repeat;
    }

    #tagline{
        width: 70%;
    }

    /* #button{
        flex-direction: column;
        justify-content: space-around;
    } */

}


